@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --wa-green-primary: #25d366;
  --wa-green-dark: #075e54;
  --wa-green-secondary: #128c7e;
  --wa-bg-chat: #ece5dd;
  --wa-msg-out: #dcf8c6;
  --wa-blue-accent: #34b7f1;
}

* {
  font-family: "Public Sans", sans-serif;
}
